* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.header-session {
  text-align: right;

  padding: 216px 230px 384px 845px;

  background: url("./images/banner/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 100vh;
  width: 100%;
}
.header-session h1 {
  /* width: 525px; */
  text-align: right;
  color: #fff;
  line-height: normal;
  font-weight: 700px;
  font-style: normal;
  font-size: 65px;
  padding-bottom: 24px;
}
.header-session p {
  text-align: right;
  color: #fff;
  padding-bottom: 30px;
}
.btn {
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  color: #005fac;
}

.about-section {
  display: flex;
  max-width: 1000px;
  margin: auto;
  gap: 100px;
  padding: 100px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  align-items: centre;
}
.img-left-side img {
  width: 451px;
}
.text-right-side h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #151414;
}
.text-right-side p,
.all-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.text-right-side,
.all-text {
  color: #444343;
}
.all-text p img {
  width: 20px;
  padding-top: 10px;
}
.all-text {
}

.my-plan {
  max-width: 1100px;
  text-align: center;
  margin: auto;
}
.plan-text h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.plan-details {
  display: flex;

  /* width: 100%; */
  margin: auto;

  padding-top: 70px;
}
.plan-1 img {
  width: 92.958px;
  padding: 10px;
}
.plan-1 h3 {
  text-align: center;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.plan-1 {
  width: 25%;
}
.plan-details p {
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #737272;
  line-height: 40px;
}

.slide {
  max-width: 1100px;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  margin-top: 100px;
  position: relative;
}
.img-text {
  position: relative;
}
.slide-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.slide-div h1 {
  color: #fff;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.slide-div {
  padding-left: 64px;
}

.footer-cls {
  display: flex;
  background: #000;
  color: rgb(203, 201, 196);
  align-items: center;
  gap: 100px;
  height: 500px;
  margin-top: 100px;
}
.footer-left-side {
  width: 50%;
  padding-left: 210px;
}
.footer-right-side {
  width: 50%;
  padding-left: 210px;
}
.icon {
  display: flex;
  gap: 20px;
}
input {
  padding: 15px 60px;
  background-color: #000;
  border: 1px solid #444343;
}
.btn-foot {
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: #005fac;
  color: #fff;
}
